body {
    margin: 0;
    background: linear-gradient(to bottom, #F2E6EE, #5a22b4, #2c0569 );
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    scroll-behavior: smooth;
}


.banner {
    opacity: 0;
    animation: fadeIn 1.0s ease-in forwards;
}

.banner2 {
    position: relative;
    display: block;
    margin-top: -15%;
    width: 93%;
    justify-self: center;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    z-index: 0;
}
.titulo1 {
    width: 20%;
    position: relative;
    display: block;
    margin-top: 9.9%;
    margin-left: 28%;
    z-index: 1;
}
 nav ul {
    position: relative;
    flex-direction: row;
    z-index: 100;
    list-style: none;
    display: flex;
    justify-self: flex-end;
    gap: 5vw;
    margin-top: 15px;  
    margin-right: 20px;
    color:#F2E6EE;
  }

  nav ul li {
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
  }
  .btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 1000;
  }

  .busca-container{
    transition: all 0.3s ease;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    border-bottom-left-radius:20px ;
  }
  .busca-container input {
  all: unset;
  padding: 8px;
  width: 200px;
  background-color: rgb(236, 232, 232);
  color: #000000;
  border-radius: 8px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.); /* sombra leve */
  transition: box-shadow 0.3s ease;
}

.busca-container.visivel {
  max-height: 50px; 
  opacity: 1;
}

 .lupa {
    position: fixed;
    top: 7px;
    right: 20px;
    width: 40px;
    height: 40px;
    z-index: 1000;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: rgba(61, 15, 136, 0.8);
    backdrop-filter: blur(5px);
    z-index: 10;
  }

  .bg {
    margin: 0% 3.5%;
    display: flex;
    align-items: center;
    opacity: 0;
    animation: fadeIn 1.0s ease-in forwards;
    background-color:#f0eef1;
  }

.box1, .box2, .box3 { 
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgba(250, 244, 244, 0.1);
    border-radius: 20px;
    box-shadow: 0 9px 9px rgba(0, 0, 0, 0.2);
    
    position: relative;
    justify-self: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
}
.nboxes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 99%;
    margin-top: -40%;
    gap: 30px;
    position: relative;
    margin-left: -92%;
    margin-right: 1%;
    z-index: 10;}
  
  .icone1 {
    width: 120px;
    flex-direction: row;
    top: 140px;
    left: 0;
    position: relative;
    z-index: 1000;
    transition:transform .6s cubic-bezier(.6,.3,.2,1);}

  .logo.caindo img{
    transform:translateY(1 px) rotate(360deg);
}
  

  .regua {
    position: fixed;
    top: -280px;
    left: 0;
    width: 120px;
    height: 400px;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
    background-color: rgba(61, 15, 136, 0.8);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: transform .6s cubic-bezier(.6,.3,.2,1);
    transform: translateY(0);
  }
.regua.abrir{
  transform: translateY(280px); 
}
  .icones {
    width: 100px;
    height: 100px;
    margin: 10px;
    transition: transform 0.3s ease-in-out;
  }

    .icone2 {
    width: 90px;
    height: 90px;
    margin: 10px;
    transition: transform 0.3s ease-in-out;
  }

  .title-h1 {
    font-size: 48pt;
  }

  .title-h1 p {
    margin: 0px !important;
  }

  @keyframes fadeIn {
  to {
    opacity: 1;
  }
}
a {
  color:#e7ebe7;
  text-decoration: none;
}
.pins {
  width: 70px;
  height: 70px;
}
